%h1.text-center= "Raffle on Rails"
%h5.text-center= "Rail up your ruby raffling needs"
%br

.container.menu.text-right
  .row
    .col-md-6.nameEntry
      %input#nameInput{type: "text", placeholder: "Add a name"}
      %button.btn.btn-default#nameSubmit= "Submit"
    .col-md-6.options.text-left
      .btn-group
        %button.btn.btn-default#draw= "Draw"
        %button.btn.btn-default#again= "Again"
        %button.btn.btn-default#reset= "Reset"

%br
.area
  %p= "name"
